<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context" xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd"> <!-- bean definitions here -->
    <bean id ="Address" class="org.genspark.Address">
        <property name = "city" value ="ABC"/>
        <property name = "state" value ="DEF"/>
        <property name = "country" value ="GHI"/>
        <property name = "zipcode" value ="JKL"/>
    </bean>
    <bean id ="Phone" class="org.genspark.Phone">
        <property name = "mob" value ="123456789"/>
    </bean>
    <bean id ="Student" class="org.genspark.Student">
        <property name = "id" value ="1"/>
        <property name = "name" value ="MNO"/>
        <property name = "ph" ref ="Phone"/>
        <property name = "add" ref ="Address"/>
    </bean>


</beans>